* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width:100%;
    font-family: Inter;
}

.first-sec {

    width: 100%;
    height: 500px;
    justify-content: center;
    display: flex;
    background-color: aliceblue;
}

.pre-sec {
    background-color: aliceblue;
}

.home-pre-sec{background-color: #713FFF;}

.header {
    width: 40%;
    padding: 30px;
    display: flex;
    justify-content: space-between;

}

.header h1,
a,
span {
    color: rgb(28, 28, 173);
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.home-header{    width: 40%;
    padding: 30px;
    display: flex;
    justify-content: space-between;}

.home-header h1,
a,
span {
    color: #26055D;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.main {
    margin: 10px;
    width: 50%;
    display: flex;
    height: 400px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}

.left-cont {
    width: 55%;
    padding: 30px;
    background-color: rgb(28, 28, 173);
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;


}

.left-cont h1 {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -0.07em;
    color: white;
}

.left-cont p {
    font-weight: 400;
    font-size: 10px;
}

.right-cont {
    width: 45%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(28, 28, 173);
    display: flex;
    flex-direction: column;
    justify-content: center
}

.right-cont h1 {
    font-size: 12pt;
}


form {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
}

form input {
    padding: 5px;
    border-style: solid 1pt;
    margin: 5px 0px;
    font-weight: 600;
    font-size: 10px;
}

form button {
    background-color: rgb(28, 28, 173);
    border: none;
    padding: 10px;
    color: white;
    font-weight: 600;
    margin: 10px 0px;
}

form button:hover {
    background-color: white;
    color: rgb(28, 28, 173);
    transition: 0.3s;
    border: solid;
    padding: 20px;

}

.home-cont {
    background-color:
        #713FFF;
    display: flex;
    width: 100%;
    height: 550px;
}

.home-state {

    margin-left: 0px;
    background-color:
        #713FFF;
        width: 50%;

        display: flex;
        flex-direction: column;
}

.home-state h1 {
    color: #26055D;
    font-weight: 400;
    letter-spacing: -0.1em;
    font-size: 50pt;
}

.home-state h1 span {
    color: #F4F1F9;
    font-size: 40pt;
    font-weight: 400;
    letter-spacing: -0.1em;
    font-size: 50pt;
}


.label{ padding: 50px; width: 50%; display: flex;
    align-items: flex-end}
.label h1{    color: #26055D;
    font-weight: 400;
    letter-spacing: -0.1em;
    font-size: 70pt;}